<div class="print-heading">
    <div style="text-align: center;">
        <img alt="Logo" height="" src="/files/logo-150x79.png" style="height: px;">
    </div>
    <h2>
        <div>Patient</div><br><small class="sub-heading">{{ doc.lead_name }}</small>
    </h2>
</div>

<h2>Details</h2>
{% set details_doc = doc %}
{% set ns = namespace(counter=0) %}
<table class="table page-break">
    {% for field in details_doc.meta.fields %}
    {% if field.print_hide == 0 and (field.label != None or details_doc.get(field.fieldname) != None) %}
    {% set ns.counter = ns.counter + 1 %}
    {% if ns.counter is odd %}
    <tr>
        {% endif %}
        <td>
            <p><b>{{ field.label }}</b></p>
            <p>{{ details_doc.get(field.fieldname) }}</p>
        </td>
        {% if ns.counter is even or loop.last %}
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

<h2>Medical History</h2>
{% set medical_history_doc = frappe.get_doc("Medical History", custom_medical_history) %}
{% set ns = namespace(counter=0) %}
<table class="table page-break">
    {% for field in medical_history_doc.meta.fields %}
    {% if field.print_hide == 0 and (field.label != None or medical_history_doc.get(field.fieldname) != None) %}
    {% set ns.counter = ns.counter + 1 %}
    {% if ns.counter is odd %}
    <tr>
        {% endif %}
        <td>
            <p><b>{{ field.label }}</b></p>
            <p>{{ medical_history_doc.get(field.fieldname) }}</p>
        </td>
        {% if ns.counter is even or loop.last %}
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

<h2>Dental History</h2>
{% set dental_history_doc = frappe.get_doc("Dental History", custom_dental_history) %}
{% set ns = namespace(counter=0) %}
<table class="table page-break">
    {% for field in dental_history_doc.meta.fields %}
    {% if field.print_hide == 0 and (field.label != None or dental_history_doc.get(field.fieldname) != None) %}
    {% set ns.counter = ns.counter + 1 %}
    {% if ns.counter is odd %}
    <tr>
        {% endif %}
        <td>
            <p><b>{{ field.label }}</b></p>
            <p>{{ dental_history_doc.get(field.fieldname) }}</p>
        </td>
        {% if ns.counter is even or loop.last %}
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

<h2>Customer Consent</h2>
{% set customer_consent_doc = frappe.get_doc("Customer Consent", custom_customer_consent) %}
{% set ns = namespace(counter=0) %}
<table class="table page-break">
    {% for field in customer_consent_doc.meta.fields %}
    {% if field.print_hide == 0 and (field.label != None or customer_consent_doc.get(field.fieldname) != None) and
    field.label != "Signature" %}
    {% set ns.counter = ns.counter + 1 %}
    {% if ns.counter is odd %}
    <tr>
        {% endif %}
        <td>
            <p><b>{{ field.label }}</b></p>
            <p>{{ customer_consent_doc.get(field.fieldname) }}</p>
        </td>
        {% if ns.counter is even or loop.last %}
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>