<div class="WordSection1">

    <h1 class="text-center">Patient Registration Form</h1>

    {% set active_doc = doc %}
    {% set new_row= {'total': 0} %}
    <table class="table table-bordered">
        <caption><h2>Personal Details</h2></caption>
        {% for field in active_doc.meta.fields %}
        {% set active_value = active_doc.get(field.fieldname) %}        
            {% if field.print_hide != 1 and field.fieldtype != "Column Break" %}
                {% if field.fieldtype == "Heading" or field.fieldtype == "Section Break" %}
                    {% if new_row.update({'total': 0}) %}{% endif %} 
                    <tr><td colspan="2">{% if field.label %}<h3>{{ field.label }}</h3>{% endif %}</td></tr>
                {% else %}
                {% if new_row.total % 2 == 0 %}
                <tr>
                {% endif %}
                {% if new_row.update({'total': new_row.total + 1}) %}{% endif %}                 
                    <td>
                    <p>{{ field.label }}</p>
                    {% if active_value %}
                        {% if field.fieldtype == "Select" %}
                            <ul>
                                {% for option in field.options.split('\n') %}
                                <li>
                                    {% if option == active_value %}
                                    <span class="text-primary" style="font-weight: bold;">{{ option }}</span>
                                    {% else %}
                                    {{ option }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                        <span class="text-primary">
                            {{ active_value }}
                        </span>
                        {% endif %}
                    {% else %}
                        {% if field.fieldtype == "Small Text" %}
                        <span>
                            <br><br><br>
                        </span>
                        {% endif %}
                    {% endif %}
                    </td>
                    {% endif %}
                {% if new_row.total % 2 == 0 %}
                </tr>
                {% endif %}
            {% endif %}        
        {% endfor %}
    </table>

    <div style="page-break-before: always;"></div>

    {% set active_doc = frappe.get_doc("Medical History", doc.custom_medical_history) %}
    {% set new_row= {'total': 0} %}
    <table class="table table-bordered">
        <caption><h2>Medical History</h2></caption>
        {% for field in active_doc.meta.fields %}
        {% set active_value = active_doc.get(field.fieldname) %}        
            {% if field.print_hide != 1 and field.fieldtype != "Column Break" %}
                {% if field.fieldtype == "Heading" or field.fieldtype == "Section Break" %}
                    {% if new_row.update({'total': 0}) %}{% endif %} 
                    <tr><td colspan="2">{% if field.label %}<h3>{{ field.label }}</h3>{% endif %}</td></tr>
                {% else %}
                {% if new_row.total % 2 == 0 %}
                <tr>
                {% endif %}
                {% if new_row.update({'total': new_row.total + 1}) %}{% endif %}                 
                    <td>
                    <p>{{ field.label }}</p>
                    {% if active_value %}
                        {% if field.fieldtype == "Select" %}
                            <ul>
                                {% for option in field.options.split('\n') %}
                                <li>
                                    {% if option == active_value %}
                                    <span class="text-primary" style="font-weight: bold;">{{ option }}</span>
                                    {% else %}
                                    {{ option }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                        <span class="text-primary">
                            {{ active_value }}
                        </span>
                        {% endif %}
                    {% else %}
                        {% if field.fieldtype == "Small Text" %}
                        <span>
                            <br><br><br>
                        </span>
                        {% endif %}
                    {% endif %}
                    </td>
                    {% endif %}
                {% if new_row.total % 2 == 0 %}
                </tr>
                {% endif %}
            {% endif %}        
        {% endfor %}
    </table>

    <div style="page-break-before: always;"></div>

    {% set active_doc = frappe.get_doc("Dental History", doc.custom_dental_history) %}
    {% set new_row= {'total': 0} %}
    <table class="table table-bordered">
        <caption><h2>Dental History</h2></caption>
        {% for field in active_doc.meta.fields %}
        {% set active_value = active_doc.get(field.fieldname) %}        
            {% if field.print_hide != 1 and field.fieldtype != "Column Break" %}
                {% if field.fieldtype == "Heading" or field.fieldtype == "Section Break" %}
                    {% if new_row.update({'total': 0}) %}{% endif %} 
                    <tr><td colspan="2">{% if field.label %}<h3>{{ field.label }}</h3>{% endif %}</td></tr>
                {% else %}
                {% if new_row.total % 2 == 0 %}
                <tr>
                {% endif %}
                {% if new_row.update({'total': new_row.total + 1}) %}{% endif %}                 
                    <td>
                    <p>{{ field.label }}</p>
                    {% if active_value %}
                        {% if field.fieldtype == "Select" %}
                            <ul>
                                {% for option in field.options.split('\n') %}
                                <li>
                                    {% if option == active_value %}
                                    <span class="text-primary" style="font-weight: bold;">{{ option }}</span>
                                    {% else %}
                                    {{ option }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                        <span class="text-primary">
                            {{ active_value }}
                        </span>
                        {% endif %}
                    {% else %}
                        {% if field.fieldtype == "Small Text" %}
                        <span>
                            <br><br><br>
                        </span>
                        {% endif %}
                    {% endif %}
                    </td>
                    {% endif %}
                {% if new_row.total % 2 == 0 %}
                </tr>
                {% endif %}
            {% endif %}        
        {% endfor %}
    </table>

    <div style="page-break-before: always;"></div>
    
    {% set active_doc = frappe.get_doc("Stress Identification", doc.custom_stress_identification) %}
    {% set new_row= {'total': 0} %}
    <table class="table table-bordered">
        <caption><h2>Stress Identification</h2></caption>
        {% for field in active_doc.meta.fields %}
        {% set active_value = active_doc.get(field.fieldname) %}        
            {% if field.print_hide != 1 and field.fieldtype != "Column Break" %}
                {% if field.fieldtype == "Heading" or field.fieldtype == "Section Break" %}
                    {% if new_row.update({'total': 0}) %}{% endif %} 
                    <tr><td colspan="2">{% if field.label %}<h3>{{ field.label }}</h3>{% endif %}</td></tr>
                {% else %}
                {% if new_row.total % 2 == 0 %}
                <tr>
                {% endif %}
                {% if new_row.update({'total': new_row.total + 1}) %}{% endif %}                 
                    <td>
                    <p>{{ field.label }}</p>
                    {% if active_value %}
                        {% if field.fieldtype == "Select" %}
                            <ul>
                                {% for option in field.options.split('\n') %}
                                <li>
                                    {% if option == active_value %}
                                    <span class="text-primary" style="font-weight: bold;">{{ option }}</span>
                                    {% else %}
                                    {{ option }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                        <span class="text-primary">
                            {{ active_value }}
                        </span>
                        {% endif %}
                    {% else %}
                        {% if field.fieldtype == "Small Text" %}
                        <span>
                            <br><br><br>
                        </span>
                        {% endif %}
                    {% endif %}
                    </td>
                    {% endif %}
                {% if new_row.total % 2 == 0 %}
                </tr>
                {% endif %}
            {% endif %}        
        {% endfor %}
    </table>
    
    <div style="page-break-before: always;"></div>

    {% set active_doc = frappe.get_doc("Customer Consent", doc.custom_customer_consent) %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="9">
                    <p><b>GDPR statement and consent</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p>Your personal information:</p>
                    <p>The information collected with this questionnaire will be used by Swissmed Health for medical services and practices. Your personal data and information will remain with Swissmed Health for us to provide you with medical services and other related services both at the center and also potentially to other health centers. This may require that your personal data including medical records to be shared with other medical service providers for referral purposes as well as other legal and procedural purposes of the center.</p>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p><b>Your statement and confirmation</b></p>
                </td>
                <td colspan="2">
                    <p><b>Yes</b></p>
                </td>
                <td>
                    <p><b>No</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p>I understand and accept that the Center has the right to approve or reject my registration application at any point in time.</p>
                </td>
                <td colspan="2">
                    <p>
                        {% if active_doc.accept_registration == "Yes" %}
                        <span style='font-weight: bold;'>✔️</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
                <td>
                    <p>
                        {% if active_doc.accept_registration == "No" %}
                        <span style='font-weight: bold;'>X</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p>I confirm that to the best of my knowledge the information that I have given on this registration form/questionnaire is accurate. Additionally, I understand that it is my responsibility to inform and update the Center as to any changes to my personal data and information.</p>
                </td>
                <td colspan="2">
                    <p>
                        {% if active_doc.accept_personal_data == "Yes" %}
                        <span style='font-weight: bold;'>✔️</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
                <td>
                    <p>
                        {% if active_doc.accept_personal_data == "No" %}
                        <span style='font-weight: bold;'>X</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <p>I hereby give my consent to the Center to communicate with me via phone, email or other means for updates as to new medical programs, upcoming lectures and conferences as well as Center news.</p>
                </td>
                <td colspan="2">
                    <p>
                        {% if active_doc.accept_communication == "Yes" %}
                        <span style='font-weight: bold;'>✔️</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
                <td>
                    <p>
                        {% if active_doc.accept_communication == "No" %}
                        <span style='font-weight: bold;'>X</span>
                        {% else %}
                        <span>&nbsp;</span>
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p>
                        {% if active_doc.signature %}
                        <img src="{{ active_doc.signature }}" />
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p>Signature</p>
                    <p>Date: <b>{{ active_doc.acceptance_date or ''}}</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="9" style="background:#D9D9D9;">
                    <p><b>For Internal Use</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="5">Received by:</td>
                <td colspan="4">Previous medical records requested</td>
            </tr>
            <tr>
                <td colspan="5">System entry date</td>
                <td colspan="4">MRN Number</td>
            </tr>
        </tbody>
    </table>
</div>
